<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{settings.nginxlocation}}images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="{{settings.nginxlocation}}images/favicon.ico" type="image/x-icon">
  <title></title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script> <!-- required for ajaxSubmit function -->
  <script src="/js/what-input.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js"></script>
  <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
  <script src="/js/nouislider.min.js"></script>

  <link rel="stylesheet" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="{{settings.nginxlocation}}css/nouislider.min.css">
  <link rel="stylesheet" href="{{settings.nginxlocation}}css/gulp.css">

<style>
body {
  background: inherit;
}
</style>
</head>
<body>

<div data-sticky-container>
  <div class="title-bar" data-responsive-toggle="navigation-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
  </div>
  <div class="top-bar custom-navigation__top-bar" id="navigation-menu" data-sticky data-options="marginTop:0;" style="width:100%">
    <div class="top-bar-right">
      <ul class="menu">
        <li><a class="custom-navigation__link" href="/admin">Admin</a></li>
        {{#if user}}
        <li><a class="custom-navigation__link" href="{{settings.nginxlocation}}admin/documents">Documents</a></li>
        {{#eq user.permissions "admin"}}
        <li><a class="custom-navigation__link" href="{{settings.nginxlocation}}admin/users">Users</a></li>
        {{/eq}}
        <li>
          <form class="navbar-form" action="{{settings.nginxlocation}}logout" method="POST" >
            <button type="submit" value="submit" class="hollow button">Log Out</button>
          </form>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</div>

<div class="hide-for-medium custom-navigation_spacer"></div>

  {{{body}}}



<script>
  $(document).foundation()
</script>
</body>
</html>
