<!doctype html>
<html class="no-js" lang="{{text.meta.language}}" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{settings.nginxlocation}}images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="{{settings.nginxlocation}}images/favicon.ico" type="image/x-icon">

  <title>{{text.meta.siteName}}</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script> <!-- required for ajaxSubmit function -->
  <script src="/js/what-input.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js"></script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
  <link rel="stylesheet" href="{{settings.nginxlocation}}css/gulp.css">

</head>
<body>


  {{{body}}}



<script>
  $(document).foundation();
</script>
</body>
</html>
