
{{> nav}}

<div id="tooltip"></div>

<div class="row">
  <div class="small-12 medium-offset-1 medium-10 large-offset-2 large-8 columns box" style="padding:0;">
    <div id="overview_map"></div>
  </div>
</div>

<br>


<div class="row">
  <div class="small-12 medium-offset-1 medium-10 large-offset-2 large-8 columns about-block box">
    <div class="row">
      <div class="small-4 column">
        <div class="overview_fact">
          <h3>
            <span id="fact_doc-count">5</span> <i class="fa fa-file-text-o" aria-hidden="true"></i>
            <br>{{text.common.documents}}
          </h3>
        </div>
      </div>
      <div class="small-4 column">
        <div class="overview_fact">
          <h3>
            <span id="fact_country-count">5</span> <i class="fa fa-map-marker" aria-hidden="true"></i>
            <br>{{text.common.countries}}
          </h3>
        </div>
      </div>
      <div class="small-4 column">
        <div class="overview_fact">
          <h3>
            <span id="fact_year-count">5</span> <i class="fa fa-calendar" aria-hidden="true"></i>
            <br>{{text.common.years}}
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<!-- about-block box -->
<div class="row">
  <div class="small-12 medium-offset-1 medium-10 large-offset-2 large-8 columns about-block box">
    <h4>{{text.about.header1}}</h4>
    <p>{{text.about.text1a}}</p>
    <p>{{text.about.text1b}}</p>
    <div id="about-logos">
      <a href="http://www.ifrc.org/"><img src="{{settings.nginxlocation}}images/ifrc-square.png"></a>
      <a href="http://www.preparecenter.org/"><img src="{{settings.nginxlocation}}images/gdpc-square.jpg"></a>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="small-12 medium-offset-1 medium-10 large-offset-2 large-8 columns about-block box">
    <h4>{{text.about.header2}}</h4>
    <h6>{{text.about.webText}}: <a href="{{text.about.ifrcUrl}}" target="_blank">{{text.about.ifrcUrl}}</a></h6>
    <hr>
    <p>{{text.about.text2a}}</p>
    <p>{{text.about.text2b}}</p>
    <p>{{text.about.text2c}}</p>
    <p>{{text.about.text2d}}</p>
  </div>
</div>

<br>
<br>
<br>




<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="/js/d3-geo-projection.v1.min.js"></script>
<script src="/js/topojson.v2.min.js"></script>
<script src="/js/colorbrewer.min.js"></script>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>

<script>

var pageLanguage = "{{text.meta.language}}";
// get country names in other languages?

var map = L.map('overview_map', {
  scrollWheelZoom: false,
  center: [0,0],
  zoom: 2
});
// initialize the SVG layer for D3 drawn features
L.svg().addTo(map);
// pick up the SVG from the map object
var svg = d3.select('#overview_map').select('svg');
var geoGroup = svg.append('g').attr('id', 'geo');
var mapped;

function projectPoint(x, y){
  var point = map.latLngToLayerPoint(new L.LatLng(y, x));
  this.stream.point(point.x, point.y);
}

var transform = d3.geoTransform({point: projectPoint});
var path = d3.geoPath().projection(transform);

d3.selection.prototype.moveToFront = function() {
  return this.each(function(){
    this.parentNode.appendChild(this);
  });
};
d3.selection.prototype.moveToBack = function() {
    return this.each(function() {
        var firstChild = this.parentNode.firstChild;
        if (firstChild) {
            this.parentNode.insertBefore(this, firstChild);
        }
    });
};

function grabData(error, geo, data) {

  isoMap = d3.nest()
    .key(function(d) { return d.iso3; })
    .map(data)
  yearMap = d3.nest()
    .key(function(d) { return d.year; })
    .map(data)
  world = topojson.feature(geo, geo.objects.ne_50m).features;

  $("#fact_doc-count").text(data.length)
  $("#fact_country-count").text(isoMap.entries().length)
  $("#fact_year-count").text(yearMap.entries().length)

  drawMap();

}

function drawMap() {

  mapped = geoGroup.selectAll("path")
    .data(world, function(d){ return d.properties.iso; })
    .enter().append("path")
    .attr("class", "country country__default")
    .attr("d", path)
    .on("mouseover", function(d){
      if(d3.select(this).classed("country__focus") === false){
        d3.selectAll(".country__focus").classed("country__focus", false);
        populateMapTooltip(d, this);
        d3.select(this).moveToFront();
        d3.select(this).classed("country__focus", true);
      }
    })
    .on("mouseout", function(d){
      d3.select(this).classed("country__focus", false);
      $('#tooltip').html('');
    })
    .on('click', function(d){
      console.log("click")
      var findUrl = $("#link-find").attr("href");
      findUrl += "?" + d.properties.iso;
      window.location.href = findUrl;
    })
    .each(function(d,i){
      if(!isoMap.get(d.properties.iso)) {
        // ...
      } else {
          d3.select(this).attr('data-count', isoMap.get(d.properties.iso).length)
            .classed('country__active', true);
      }
    });

  updatePath = function(){ mapped.attr("d", path); }
  map.on('zoom move viewreset', updatePath);
  updatePath();

  // updateMapColors()
}

function populateMapTooltip(d, el){
  var tooltipText = '<div>' + d.properties.name + '</div>';
  var count = d3.select(el).attr('data-count');
  // var vca = d3.select(el).attr('data-vca');
  // var poa = d3.select(el).attr('data-poa');
  tooltipText += count ? '<small> ' + count + ' document' : '';
  tooltipText += (count>1) ? 's</small>' : '</small>';
  // tooltipText += (vca && poa) ? ', ': '';
  // tooltipText += poa ? '<small> ' + poa + ' POA' : '';
  // tooltipText += (poa>1) ? 's</small>' : '</small>';
  // tooltipText += poa ? '<small> ' + poa + ' POA' : '';
  // tooltipText += (poa>1) ? 's</small>' : '</small>';
  $('#tooltip').html(tooltipText);
}

window.onload = function() {
  d3.queue()
  	.defer(d3.json, '/data/ne_50m-simple-topo.json')
  	.defer(d3.json, '/api/overview')
  	.await(grabData);

  $('body').mouseover(function(e) {
      //Set the X and Y axis of the tooltip
      $('#tooltip').css('top', e.pageY + 10 );
      $('#tooltip').css('left', e.pageX + 20 );
    }).mousemove(function(e) {
      //Keep changing the X and Y axis for the tooltip, thus, the tooltip move along with the mouse
      $("#tooltip").css({top:(e.pageY+15)+"px",left:(e.pageX+20)+"px"});
  });
}


</script>
