{{> nav}}

<div class="row">
  <div class="small-8 small-offset-2 medium-6 medium-offset-3 columns">
      <div id="errorMessage" class="callout warning hidden" data-closable>
        <span><strong>{{text.common.error}}: </strong>{{text.common.errored}}</span>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="successMessage" class="callout success hidden" data-closable>
        <span><strong>{{text.common.success}}: </strong>{{text.share.uploaded}}</span>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  </div>
</div>

<div class="row">
  <div class="small-8 small-offset-2 medium-6 medium-offset-3 columns box">
    <h4>{{text.share.sharePrompt}}</h4>
    <form id="upload" action="/upload" enctype="multipart/form-data" method="POST">
      <label for="vcaFile" class="button">{{text.share.fileBtn}}</label> <span id="selectedFile"></span>
      <input type="file" id="vcaFile" name="vcaFile" class="show-for-sr" accept=".doc,.docx,.pdf" aria-describedby="fileUploadHelpText" required>
      <p class="help-text" id="fileUploadHelpText">{{text.share.fileHelp}}</p>
      <label>{{text.common.type}}
        <fieldset>
          <input type="radio" name="type" value="VCA" id="VCA" required><label for="VCA">VCA</label>
          <input type="radio" name="type" value="POA" id="POA"><label for="POA">POA</label>
          <input type="radio" name="type" value="VCA/POA" id="VCA/POA"><label for="VCA/POA">VCA/POA</label>
        </fieldset>
      </label>
      <label>{{text.common.language}}
        <select id="lang" name="lang" aria-describedby="languageHelpText" required>
          <option selected disabled hidden style="display:none;" value="">{{text.share.languagePrompt}}</option>
          <option value="en">English</option>
          <option value="es">Español</option>
          <option value="nl">Dutch</option>
          <option value="fr">Français</option>
          <option value="id">Indonesian</option>
          <option value="pt">Português</option>
          <option value="bn">বাংলা (Bengali)</option> 
        </select>
      </label>
      <input type="hidden" id="language" name="language" value="" />
      <p class="help-text" id="languageHelpText">{{text.share.languageHelp}} <a href="mailto:daniel.joseph@redcross.org">daniel.joseph@redcross.org</a></p>

      <label> {{text.share.titlePrompt}}
        <input id="title" type="text" name="title" placeholder="..." required>
      </label>
      <label> {{text.share.descripLocal}} <span id="selectedLanguage"></span>
        <textarea id="descriptionlocal" type="text" name="descriptionlocal" placeholder="..." rows= "3" required></textarea>
      </label>
      <label id="descriptionen-input" style="display:none;"> {{text.share.descripEn}}
        <textarea id="descriptionen" type="text" name="descriptionen" placeholder="..." rows= "3"></textarea>
      </label>

      <label>{{text.share.countryLabel}}
        <div id="search-box">
          <input class="typeahead" type="text" placeholder="{{text.share.countrysearch}}">
        </div>
        <select id="iso3" name="iso3" required>
          <option selected disabled hidden style="display:none;" value="_error">{{text.share.countryPrompt}}</option>
        </select>
        <input type="hidden" id="country" name="country" value="" />

      </label>
      <label>{{text.common.community}}
        <select id="community" name="community" disabled required>
          <option value="_new">{{text.share.commAdd}}</option>
          <option selected disabled hidden style="display:none;" value="_error">{{text.share.commPrompt}}</option>
        </select>
        <input id="community_new" type="text" name="community_new" placeholder="..." disabled required>
      </label>
      <label>{{text.common.year}}
        <select id="year" name="year" required>
          <option selected disabled hidden style="display:none;" value="">{{text.share.yearPrompt}}</option>
          <option value="2024">2024</option><option value="2023">2023</option><option value="2022">2022</option><option value="2021">2021</option><option value="2020">2020</option><option value="2019">2019</option><option value="2018">2018</option><option value="2017">2017</option><option value="2016">2016</option><option value="2015">2015</option><option value="2014">2014</option><option value="2013">2013</option><option value="2012">2012</option><option value="2011">2011</option><option value="2010">2010</option><option value="2009">2009</option><option value="2008">2008</option><option value="2007">2007</option><option value="2006">2006</option><option value="2005">2005</option><option value="2004">2004</option><option value="2003">2003</option><option value="2002">2002</option><option value="2001">2001</option><option value="2000">2000</option><option value="1999">1999</option><option value="1998">1998</option><option value="1997">1997</option><option value="1996">1996</option><option value="1995">1995</option><option value="1994">1994</option><option value="1993">1993</option><option value="1992">1992</option><option value="1991">1991</option><option value="1990">1990</option><option value="1989">1989</option><option value="1988">1988</option>
        </select>
      </label>

      <input type="hidden" id="comments" name="comments" value="" />

      <label>{{text.share.geoLocate}} <br>
        <small>{{text.share.geoDirections}}</small> <br>
        <input id="lat" name="lat" value="" readonly />
        <input id="lng" name="lng" value="" readonly />
        <span id="zoomToMarker" class="clickable geo-result"><small><i class="fa fa-search" aria-hidden="true"></i> {{text.share.geoZoomTo}}</small></span>

        <div id="geolocate_map"></div>

        <div class="input-group" style="margin: 0.5em 0">
          <div class="input-group-button">
            <input id="geo-search" type="button" class="" value="{{text.common.search}}">
          </div>
          <input id="geo-term" class="input-group-field" type="text" placeholder="{{text.share.geoPrompt}}">
        </div>
        <span id="geo-noresults">{{text.share.geoNone}}</span>
        <div id="geo-results"> <!-- ... --> </div>
      </label>

      <div id="submitErrorMessage" class="callout warning hidden" data-closable>
        <span><strong>{{text.common.allFieldsErr }} </strong></span>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <button type="submit" value="submit" class="button primary form-actions__submit">{{text.common.submit}}</button>
      <button class="button secondary form-actions__clear">{{text.common.clearForm}}</button>
      <i class="fa fa-spinner fa-spin form-actions__spinner" style="font-size:32px; margin-left:12px;" aria-hidden="true"></i>
    </form>
  </div>
</div>

<br>
<br>

<style>

</style>



<script src="/js/typeahead.bundle.js" charset="utf-8"></script>
<script src="/js/handlebars-v4.0.5.js" charset="utf-8"></script>


<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>

<!-- <link rel="stylesheet" href="/css/leaflet.draw.css"/>
<script src="/leaflet-draw/Leaflet.draw.js" charset="utf-8"></script>
<script src="/leaflet-draw/Leaflet.Draw.Event.js" charset="utf-8"></script>
<script src="/leaflet-draw/Toolbar.js"></script>
<script src="/leaflet-draw/Tooltip.js"></script> -->

<!-- <script src="/leaflet-draw/ext/GeometryUtil.js"></script>
<script src="/leaflet-draw/ext/LatLngUtil.js"></script>
<script src="/leaflet-draw/ext/LineUtil.Intersect.js"></script>
<script src="/leaflet-draw/ext/Polygon.Intersect.js"></script>
<script src="/leaflet-draw/ext/Polyline.Intersect.js"></script>
<script src="/leaflet-draw/ext/TouchEvents.js"></script>

<script src="/leaflet-draw/draw/DrawToolbar.js"></script>
<script src="/leaflet-draw/draw/handler/Draw.Feature.js"></script>
<script src="/leaflet-draw/draw/handler/Draw.SimpleShape.js"></script>
<script src="/leaflet-draw/draw/handler/Draw.Polyline.js"></script>
<script src="/leaflet-draw/draw/handler/Draw.Marker.js"></script>
<script src="/leaflet-draw/draw/handler/Draw.Circle.js"></script>
<script src="/leaflet-draw/draw/handler/Draw.CircleMarker.js"></script>
<script src="/leaflet-draw/draw/handler/Draw.Polygon.js"></script>
<script src="/leaflet-draw/draw/handler/Draw.Rectangle.js"></script>


<script src="/leaflet-draw/edit/EditToolbar.js"></script>
<script src="/leaflet-draw/edit/handler/EditToolbar.Edit.js"></script>
<script src="/leaflet-draw/edit/handler/EditToolbar.Delete.js"></script>

<script src="/leaflet-draw/Control.Draw.js"></script>

<script src="/leaflet-draw/edit/handler/Edit.Poly.js"></script>
<script src="/leaflet-draw/edit/handler/Edit.SimpleShape.js"></script>
<script src="/leaflet-draw/edit/handler/Edit.Rectangle.js"></script>
<script src="/leaflet-draw/edit/handler/Edit.Marker.js"></script>
<script src="/leaflet-draw/edit/handler/Edit.CircleMarker.js"></script>
<script src="/leaflet-draw/edit/handler/Edit.Circle.js"></script> -->

<script>

var pageLanguage = "{{text.meta.language}}";
var emptymessage = "{{text.common.emptymessage}}"
window.onload = function() {

  // if the page loads with it hidden it won't spin when shown
  $(".form-actions__spinner").hide();
  $("#geo-noresults").hide();

  var map = L.map('geolocate_map').setView([0, 0], 2);
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
     attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  var drawnItems = new L.FeatureGroup();
  map.addLayer(drawnItems);
  var drawControl = new L.Control.Draw({
    draw: {
      circle: false,
      circlemarker: false,
      polygon: false,
      polyline: false,
      rectangle: false
     },
      edit: {
          featureGroup: drawnItems
      }
  });
  map.addControl(drawControl);
  map.on(L.Draw.Event.CREATED, function (event) {
    var layer = event.layer;
    drawnItems.clearLayers();
    $("#lat").val(layer._latlng.lat);
    $("#lng").val(layer._latlng.lng);
    drawnItems.addLayer(layer);
  });

  map.on('draw:edited', function (e) {
    var layers = e.layers;
    layers.eachLayer(function (layer) {
      $("#lat").val(layer._latlng.lat);
      $("#lng").val(layer._latlng.lng);
    });
  });

  map.on('draw:deleted', function (e) {
    $("#lat").val('');
    $("#lng").val('');
  });



  // prevent ENTER from submitting the share form and instead submit the search
  $('#geo-term').keypress(function(event){
    if(event.keyCode == 13){
      event.preventDefault();
      $('#geo-search').click();
    }
  });

  geoClick = function(element){
    var lat = $(element).data('lat');
    var lng = $(element).data('lng');
    map.flyTo({lat: lat, lng: lng}, 14);
    $("#lat").val(lat);
    $("#lng").val(lng);
    drawnItems.clearLayers();
    drawnItems.addLayer(L.marker({lat: lat, lng: lng}));
  }

  $("#zoomToMarker").on('click', function() {
    if($("#lat").val().length !== 0){
      map.flyTo({lat: $("#lat").val(), lng: $("#lng").val()}, 14)
    }
  })

  $("#geo-search").on('click', function() {
    var searchTerm = $("#geo-term").val()
    var nominatim = "https://nominatim.openstreetmap.org/search/" + encodeURI(searchTerm) + "?format=json"
    $.getJSON(nominatim, function(response){
      $("#geo-results").html('');
      if(response.length == 0) {
        $("#geo-noresults").show();
      } else {
        $("#geo-noresults").hide();
        $.each(response, function(index, value){
          var html = "<div class='clickable geo-result' onClick='geoClick(this);' data-lat='" + value.lat + "' data-lng='" + value.lon + "' >"+
            "<i class='fa fa-map-marker' aria-hidden='true'></i> " +
            value.display_name +
            "</div>";
          $("#geo-results").append(html)
        });
      }
    });
  });



  $("#vcaFile").on('change', function() {
    $("#selectedFile").text(this.files[0].name);
  })

  $("#lang").on('change', function() {
    var languageName = $("#lang option:selected").text();
    $("#language").val(languageName);
    $("#selectedLanguage").text(languageName);
    if($("#lang option:selected").val() === "en"){
      $("#descriptionen-input").hide();
      $("#descriptionen").val('');
    } else {
      $("#descriptionen-input").show();
    }
  })


  newIso = function() {
    var countryname = $("#iso3").find(":selected").text()
    $("#country").val( countryname );
    $("#community").prop("disabled", true);
    $("#community").find(".community_options").remove();
    $("#community").val('_error');
    $("#community_new").val('').prop("disabled", true);

    var url = "/api/communities/" + $("#iso3").find(":selected").val();
    $.get(url, function(data) {
      for(var i=0, len=data.length; i<len; i++) {
        var html = '<option class="community_options" value="' + data[i].community + '">' + data[i].community + '</option>';
        $("#community").prepend(html);
      }
      $("#community").prop("disabled", false);
    });
  }
  $("#iso3").on('change', newIso )


  $("#community").on('change', function() {
    if($("#community").val() === '_new'){
      $("#community_new").prop("disabled", false);
    } else {
      $("#community_new").prop("disabled", true);
    }
  })

  $.get("/api/countries", function(data) {
    data.sort(function(a,b) {return (a.iso3 > b.iso3) ? 1 : ((b.iso3 > a.iso3) ? -1 : 0);} );
    var searchData = [];
    for(var i=0, len=data.length; i<len; i++) {
      var name = (data[i][pageLanguage] !== undefined) ? data[i][pageLanguage] : data[i]["en"];
      var html = '<option value="' + data[i].iso3 + '">' + name + '</option>';
      $("#iso3").append(html);
      searchData.push({
        'name': name,
        'iso3': data[i].iso3
      })
    }
    buildSearchBox(searchData);
  });

  clearForm = function(){
    $("#upload").find("input[type=text]").val('');
    $('input[type=radio]').attr('checked',false);
    $("#descriptionlocal").val('');
    $("#descriptionen").val('');
    $("#descriptionen-input").hide();
    $("#year").val('');
    $("#iso3").val('_error');
    $("#lang").val('');
    $("#language").val('');
    $("#selectedLanguage").text('');
    $("#community").prop("disabled", true);
    $("#community_new").prop("disabled", true);
    $("#community").val('_error');
    $("#community").find(".community_options").remove();
    $("#selectedFile").empty();
    $(".form-actions__spinner").hide();
    $(".form-actions__submit").removeClass("disabled");
    $("#lat").val('');
    $("#lng").val('');
    drawnItems.clearLayers();
    $("#submitErrorMessage").hide();
    $("html, body").animate({ scrollTop: 0 }, "slow");
  }

  var upload = $("#upload");
  upload.find(".form-actions__clear").click(function(e) {
      e.preventDefault();
      clearForm();
  });
  upload.submit(function() {
    $(this).ajaxSubmit({
      beforeSubmit: function(formData) {
        var okay = true;
        for(var i=0, len=formData.length; i<len; i++) {
          if(formData[i].value === "_error") {
            okay = false;
          }
        }
        if(okay === false) {
          $("#submitErrorMessage").show();
          return false;
        } else {
          $(".form-actions__spinner").show();
          $(".form-actions__submit").addClass("disabled");
          return true;
        }
      },
      error: function(xhr) {
        $("#errorMessageText").html(xhr.status);
        $("#errorMessage").show();
        clearForm();
      },
      success: function(response) {
        if(response.type === "success"){
          $("#successMessageText").html(response.message);
          $("#successMessage").show();
        } else {
          $("#errorMessageText").html(response.message);
          $("#errorMessage").show();
        }
        clearForm();
      }
    });
    return false;
  });


  function buildSearchBox(data){
    // constructs the suggestion engine
    var countrySearch = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      local: data,
      sorter: function(a, b) {
        if (a.name < b.name) {
          return -1;
        }
        else if (a.name > b.name) {
          return 1;
        }
        else return 0;

      }
    });
    // kicks off the loading/processing of `local`
    countrySearch.initialize();
    $('#search-box .typeahead').typeahead({
      // hint: true,
      highlight: true,
      minLength: 1
    },
    {
      name: 'countrySearch',
      displayKey: Handlebars.compile('\{\{name\}\}'),
      limit: 20,
      source: countrySearch.ttAdapter(),
      templates: {
        empty:[
          '<div class="empty-message">',
          '<i>' + emptymessage + '</i>',
          '</div>'
        ].join('\n'),
        suggestion: Handlebars.compile('<p>\{\{name\}\}</p>')
      }
    }).on('typeahead:selected', function (eventObj, datum) {
      selectedCountry(datum);
    });
  }

  function selectedCountry(datum) {
    $("#iso3").find(":selected").prop("selected", false);
    $("#iso3").find('option[value="' + datum.iso3 + '"]').prop('selected',true);
    newIso()
    $('#search-box .typeahead').typeahead('val', '');
  }

}

</script>
